<style>
    div.resources {
        margin: 30px;
        float: left;
        width: 100px;
    }

        div.resources:hover {
        }

        div.resources img {
            width: 75px;
            height: 100px;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    #tasksdone {
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    button[disabled].summary-report-donebtn {
        opacity: 0.5 !important;
    }
</style>




<div class="card-parentContainer martop-40">

    <div class="card-childContainer marginbottom30" style="padding-bottom: 30px;" ng-show="customersubmit || $root.completedTask">
        <div>

            <div class="text-center">
                <img id="tasksdone" src="Group 11@2x.png" style="width:50px !important;height:50px !important;" />
            </div>
            <div style="text-align:center;margin-top:30px;text-transform:none">
                <label class="completed-msg"><span translate="Field Job"> #</span>{{summary.taskObject.Task_Number}} <span translate="Completed Successfully"></span> </label>
                <br>
                <label style="margin-top:25px" class="summary-report-label" translate="Tap or click below icon to view Field Service Summary report"></label>
            </div>

            <div class="row" style="margin-top:30px;">
                <div class="col-sm-4 " id="cmd" style="text-align:center">
                    <img src="images/pdf1x.png" style="display: inherit;" id="tasksdone">
                    <md-button class="summary-report-btn" pdf-save-button="idOne" pdf-name="someone.pdf" translate="Export"></md-button>
                </div>

                <div class="col-sm-4" style="    text-align: center;">
                    <img src="images/print1x.png" id="tasksdone">
                    <div class="col-sm-12">
                        <md-button id="cmd1" class="summary-report-btn" pdf-save-button="idOne" pdf-name="someone.pdf" translate="Print"></md-button>
                    </div>

                </div>
                <div class="col-sm-4" style="    text-align: center;">
                    <img src="images/email1x.png" id="tasksdone">
                    <div class="col-sm-12">
                        <md-button id="cmd1" class="summary-report-btn" pdf-save-button="idOne" pdf-name="someone.pdf" ng-click="sendMail()" translate="Email"></md-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margintop30" style="text-align:center;">
            <button class="summary-report-donebtn" type="submit" ui-sref="{{routeAfterDone}}" ng-click="onDone()" translate="Done"></button>
        </div>

    </div>





    <form name="signatureForm" class="input-items">
        <div class="card-childContainer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 col-lg-4">
                        <div class="mylabel font-size" translate="ENTER CUSTOMER PRINT NAME"></div>
                        <input class="inputFieldsMaterial" id="customerName" ng-model="customerName" name="customerName" ng-disabled="isSubmitted" />
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="mylabel font-size" translate="JOB RESPONSIBILITY"></div>
                        <input class="inputFieldsMaterial" id="jobResp" ng-model="jobResp" name="jobResp" ng-disabled="isSubmitted" />
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="mylabel font-size" translate="Email"></div>
                        <input type="text" class="inputFieldsMaterial" id="customerMail" name="customerMail" ng-disabled="isSubmitted" ng-model="customerEMail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
                        <!--  <span style="color:Red" ng-show="signatureForm.customerMail.$error.required"> Required! </span> -->
                        <span style="color:Red" ng-show="signatureForm.customerMail.$dirty&&signatureForm.customerMail.$error.pattern" translate="Please Enter Valid Email"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-childContainer margintop30">
            <div class="mylabel font-size" translate="Customer Signature"></div>
            <div style="height: 220px;width:100%">
                <signature-pad accept="accept" clear="clear" height="220" width="1050" dataurl="dataurl" disabled="isSubmitted || $root.completedTask"></signature-pad>
                 <label ng-bind="$root.customerSignTime"></label>
            </div>
            <hr>
            <div class="layout-row">
                <!--             <div class="flex-30" ng-click="clear()" style="width:100px" ng-disabled="isSubmitted">Clear</div> -->
                <div class="flex-20">
                    <button class="serbtn" ng-click="clear()" ng-disabled="isSubmitted || $root.completedTask" translate="Clear"></button>

                </div>
                <!-- <div class="flex-15">
                  <button  id="addBtn" ng-click="signature = accept()" style="width:100px">Save Sign</button>
                </div> -->
                <div class="flex-60 smmary-report-confirm">
                    <label translate="I confirm that I have read, understand and agreed to all terms"></label>
                </div>
                <div class="flex-20">
                    <button class="summary-report-donebtn" ng-click="custsignature = accept();customerSubmit()" style="float:right;" ng-disabled="isSubmitted || $root.completedTask || $root.Engsignature=='' || $root.Engsignature==undefined " translate="Submit"></button>
                </div>
            </div>
        </div>
    </form>
</div>
          <div class="result" style="display:none">
            <img style="" id="customerSignature" ng-src="{{ $root.signature }}">
        </div> 
