<style>
    button[disabled].engSign-Next
    {
        opacity:0.5 !important;
    }
</style>
<div class="card-parentContainer martop-40"> 
    <div class="card-childContainer marginbottom30">
      
        <div class="row">

            <div class="col-md-3">
                <div class="checkbox">
                    <label class="checkbox-inline"><input type="checkbox" ng-model="engineerObject.followUp"
                    ><span translate="Follow-up"
                           class="mylabel fontsize14"></span></label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="checkbox">
                    <label class="checkbox-inline"><input type="checkbox" ng-model="engineerObject.salesQuote"
                    ><span translate="Spare Quote"
                           class="mylabel fontsize14"></span></label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="checkbox">
                    <label class=" checkbox-inline"><input type="checkbox" ng-model="engineerObject.salesVisit"
                    ><span translate="Sales Visit"
                           class="mylabel fontsize14"></span></label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="checkbox">
                    <label class=" checkbox-inline"><input type="checkbox" ng-model="engineerObject.salesLead"
                    ><span translate="Sales Lead"
                           class="mylabel fontsize14"></span></label>
                </div>
            </div>


        </div>
        <div class="margintop30" ng-show="engineerObject.followUp">
                <label class="engSign-label" translate="Additional Information on Follow-Up"></label>
                <textarea class="engSign-textarea" id="followUpInfo"
                          ng-model="engineerObject.Follow_Up"
                          name="followUpInfo"></textarea></div>
            <div class="margintop30" ng-show="engineerObject.salesQuote">
                <label class="engSign-label" translate="Additional Information on Spare Quote"></label>
                <textarea class="engSign-textarea" id="spareQuoteInfo"
                          ng-model="engineerObject.Spare_Quote"
                          name="spareQuoteInfo"></textarea></div>
            <div class="margintop30" ng-show="engineerObject.salesVisit">
                <label class="engSign-label" translate="Additional Information on Sales Visit"></label>
                <textarea class="engSign-textarea" id="salesVisitInfo"
                          ng-model="engineerObject.Sales_Visit"
                          name="salesVisitInfo"></textarea></div>
            <div class="margintop30" ng-show="engineerObject.salesLead">
                <label class="engSign-label" translate="Additional Information on Sales Lead"></label>
                <textarea class="engSign-textarea" id="salesLeadInfo"
                          ng-model="engineerObject.Sales_Head"
                          name="salesLeadInfo"></textarea></div>
    
    </div>

<div class="card-childContainer marginbottom30">
<label class="engSign-label no-marbottom" translate="Service Engineer Signature">:*</label>
            <div class="layout-row">
                <signature-pad accept="accept" clear="clear" height="220" width="1050" dataurl="dataurl"></signature-pad>
                <br>
                
            </div>
            <div class="layout-row marginbottom30">
                <label ng-bind="$root.engineerSignTime"></label>
            </div>
           
            <div>
                 <button class="serbtn" ng-click="clear()" translate="Clear"></button>
                <!--<div>Please add signature</div>-->
                 <button  class="engSign-Next" ng-click="signature = accept(); SaveSign()" ng-disabled="$root.Engsignature=='' || $root.Engsignature==undefined "  translate="Next">
                 </button>
            </div>
   
</div>

</div>
