
<div class="card-parentContainer martop-40"> 
<div id="export1">

    <label class="header-labeles" translate="Customer Call Details"></label>
    <div class="card-childContainer marginbottom30">

    <div class="">
      
        <div class="note-type-label marginbottom12" translate="Customer Name"></div>
        <div class="note-type-value">{{summary.taskObject.Customer_Name}}</div>

        <div class="margin20">
            <div class="stroke"></div>
        </div>
             <div layout="row">
                        <div flex="30">
                            <label class="mylabel" translate="Service Request"></label>
                            <div class="myvalue">{{summary.taskObject.Service_Request}}</div>
                        </div>

                        <div flex="30">
                            <label class="mylabel" translate="Field Job Number"></label>
                            <div class="myvalue">{{summary.taskObject.Task_Number}}</div>
                        </div>
                        <div flex="60">
                           
                                <label class="mylabel" translate="Job Description"></label>
                                <div>{{summary.taskObject.Job_Description}}</div>
                                <table class="table no-marbottom" style="margin-top: 12px;">
                                    <thead>
                                    <tr style="border-top: solid 1px #c0c0c0;">
                                        <th class="taskoverflow-tableTh"  translate="Start Date"></th>
                                        <th class="taskoverflow-tableTh"  translate="End Date"></th>
                                        <th class="taskoverflow-tableTh"  translate="Duration"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="time in  summary.taskObject.times">
                                        <td class="taskoverflow-tableTd">{{time.Start_Date| timezonefilter}}</td>
                                        <td class="taskoverflow-tableTd">{{time.End_Date| timezonefilter}}</td>
                                        <td class="taskoverflow-tableTd">{{time.Duration}}</td>
                                    </tr>
                                    </tbody>

                                </table>
                            
                        </div>
                </div>

                <div class="margin20">
                    <div class="stroke"></div>
                </div>

                 <div layout="row">
                    <table class="table no-marbottom noborder">
                        <thead>
                            <tr class="noborder">
                                <th class="taskoverflow-tableTh noborder"  translate="Product Line"></th>
                                <th class="taskoverflow-tableTh noborder" translate="System ID / Serial"><span>#</span></th>
                                <th class="taskoverflow-tableTh noborder" translate="TAG"><span>#</span></th>
                                <th class="taskoverflow-tableTh noborder" translate="ORGINAL PO"><span>#</span></th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="noborder" ng-repeat="install in summary.taskObject.InstallBase" >
                                <td class="taskoverflow-tableTd noborder bg-white">{{install.Product_Line|| "NO VALUE"}}</td>
                                <td class="taskoverflow-tableTd noborder bg-white"> {{install.Serial_Number|| "NO VALUE"}}</td>
                                <td class="taskoverflow-tableTd noborder bg-white">{{install.TagNumber|| "NO VALUE"}}</td>
                                <td class="taskoverflow-tableTd noborder bg-white">{{install.Original_PO_Number|| "NO VALUE"}}</td>
                            </tr>
                        </tbody>

                    </table>
                  
                </div>


    </div>
</div>

<!-- Notes -->
<label class="header-labeles" translate="Notes"></label>

<div class="card-childContainer marginbottom30">

    <table class="table no-marbottom noborder">
                        <thead>
                            <tr class="noborder">
                                <th class="taskoverflow-tableTh noborder"  translate="Note Type"></th>
                                <th class="taskoverflow-tableTh noborder" translate="Note Description"> #</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="noborder" ng-repeat="note in summary.notesArray" >
                                <td class="taskoverflow-tableTd noborder bg-white">{{note.Note_Type}}</td>
                                <td class="taskoverflow-tableTd noborder bg-white"> {{note.Notes}}</td>
                            </tr>
                        </tbody>

    </table>
   
</div>


</div>

<label class="header-labeles" translate="Attachments"></label>
<div class="card-childContainer marginbottom30">
    <div class="row" style="margin:0px;">
    <div ng-repeat="file1 in files" class="col-sm-2 width110 attachment-spacing" >

                    <div class="attachmentDiv" ng-if="file1.contentType.indexOf('image') > -1">
                    <img data-ng-src="data:{{file1.contentType}};base64,{{file1.base64}}"
                          class="img-responsive"/>
                    </div>

                    <div class="attachmentDiv" ng-if="file1.filetype.indexOf('pdf') > -1">
                    <img src="images/pdf.png"  class="img-responsive"/>
                    </div>

                     <div class="attachmentDiv" ng-if="file1.filetype.indexOf('doc') > -1 || file1.filetype.indexOf('docx') > -1">
                    <img src="images/Word_1x.png"  class="img-responsive"/>
                    </div>

                    <div class="attachmentDiv" ng-if="file1.filetype.indexOf('xlsx') > -1 || file1.filetype.indexOf('xls') > -1">
                    <img src="images/Excel_1x.png"  class="img-responsive"/>
                    </div>

                    <div class="attachmentDiv" ng-if="file1.filetype.indexOf('pptx') > -1 || file1.filetype.indexOf('ppt') > -1">
                    <img src="images/PowerPoint_1x.png"  class="img-responsive"/>
                    </div>

                     <div class="attachmentDiv" ng-if="file1.filetype.indexOf('txt') > -1 ">
                    <img src="images/Notepad_1x.png"  class="img-responsive"/>
                    </div>
                    <!-- <div>{{file1.name}}</div> -->
                    <!-- <div style="margin-bottom:20px">{{file1.filename}}
                    </div> -->
                    <label class="summary-values">{{file1.filename}}</label>
    </div>
    </div>
</div>

<!-- <div class="padding10 debLabelHeader" translate="Attachments"></div>
<div class="container" style="padding:0">
    <div class="debreifContainerouter margintop30">
        <md-card style="border-radius:10px 10px 10px 10px">
            <div class="debreifContainerinner">
                <div ng-repeat="file1 in files" class="col-sm-2 attachmentDiv">
                    <img data-ng-src="data:{{file1.contentType}};base64,{{file1.base64}}"
                         ng-if="file1.contentType.indexOf('image') > -1" class="img-responsive">
                    <img src="images/pdf.png" ng-if="file1.filetype.indexOf('pdf') > -1" class="img-responsive">
                    <img src="images/Word_1x.png" ng-if="file1.filetype.indexOf('doc') > -1 || file1.filetype.indexOf('docx') > -1" class="img-responsive">
                    <img src="images/Excel_1x.png" ng-if="file1.filetype.indexOf('xlsx') > -1 || file1.filetype.indexOf('xls') > -1" class="img-responsive">
                    <img src="images/PowerPoint_1x.png" ng-if="file1.filetype.indexOf('pptx') > -1 || file1.filetype.indexOf('ppt') > -1" class="img-responsive">
                    <img src="images/Notepad_1x.png" ng-if="file1.filetype.indexOf('txt') > -1 " class="img-responsive"> -->
                    <!-- <div>{{file1.name}}</div> -->
                    <!-- <div style="margin-bottom:20px">{{file1.filename}}
                    </div>
                </div>
            </div>
        </md-card>
    </div>
</div> -->

<label class="header-labeles" translate="Time"></label>

<div class="card-childContainer marginbottom30" style="    overflow-x: auto;">

                    <table class="table no-marbottom noborder">
                        <thead>
                            <tr class="summary-tr">
                                <th class="noborder padding-right"><span translate="Date"></span></th>
                                <th class=" noborder padding-right" ng-if="userType=='C'"><span translate="Charge Type"></span></th>
                                <th class=" noborder padding-right" ng-if="userType=='C'"><span translate="Charge Method"></span></th>
                                <th class=" noborder padding-right"><span translate="Work Type"></span></th>
                                <th class=" noborder padding-right"  ng-if="userType=='C'" ng-repeat="time in timeArray[0].timeDefault.timeCode.values"><span>{{time.Overtimeshiftcode}}</span></th>
                                <!-- <th md-column><span>OT1</span></th>
                                    <th md-column><span>OT2</span></th>
                                    <th md-column><span>OT3</span></th>
                                    <th md-column><span>OS1</span></th>
                                    <th md-column><span>OS2</span></th> -->
                                    <th class="noborder padding-right"><span translate="Duration"></span></th>
                                    <th class="noborder padding-right"><span translate="Item"></span></th>
                                    <th class="noborder padding-right"><span translate="Description"></span></th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr class="summary-tr" ng-repeat="time in  summary.timeArray">
                                    <td class="noborder bg-white padding-right">{{time.Date }}</td>
                                    <td class="noborder bg-white padding-right" ng-if="userType=='C'">{{time.Charge_Type}}</td>
                                    <td class="noborder bg-white padding-right" ng-if="userType=='C'">{{time.Charge_Method}}</td>
                                    <td class="noborder bg-white padding-right">{{time.Work_Type}}</td>
                                    <!-- <td md-cell>{{time.standard}}</td> -->
                                    <td class="noborder bg-white padding-right" ng-if="userType=='C'" ng-repeat="timec in timeArray[0].timeDefault.timeCode.values">{{time.timecode[$index][timec.Overtimeshiftcode]}} </td>
                                    <!-- <td md-cell>{{time.ot2}}</td>
                                        <td md-cell>{{time.ot3}}</td>
                                        <td md-cell>{{time.os1}}</td>
                                        <td md-cell>{{time.os2}}</td> -->
                                        <td class="noborder bg-white padding-right">{{time.Duration}}</td>
                                        <td class="noborder bg-white padding-right">{{time.Item}}</td>
                                        <td class="noborder bg-white padding-right"><div class="summary-description">{{time.Description}}</div></td>
                                    </tr>
                                </tbody>
                            </table>

</div>




        <label class="header-labeles" translate="Expenses"></label>
        <div class="card-childContainer marginbottom30" >
                        

                        <table class="table no-marbottom noborder">
                        <thead>
                            <tr class="summary-tr">
                               <th class="noborder width25"><span translate="Date"></span></th>
                               <th class="noborder width25"><span translate="Expense Type"></span></th>
                               <th class="noborder width25"><span translate="Charge Method"></span></th>
                               <th class="noborder width25"><span translate="Justification"></span></th>
                            </tr>
                            </thead>
                            <tbody >
                                <tr class="summary-tr" ng-repeat="expense in summary.expenseArray">
                                       <td class="noborder bg-white width25">{{expense.Date}}</td>
                                       <td class="noborder bg-white width25">{{expense.Expense_Type}}</td>
                                       <td class="noborder bg-white width25">{{expense.Charge_Method}}</td>
                                       <td class="noborder bg-white width25"><div class="summary-description" style="width: 160px;">{{expense.Justification}}</div></td>
                                    </tr>
                                </tbody>
                            </table>


                   
        </div>

        <div class="padding10 debLabelHeader" translate="Material"></div>
        <div class="container" style="padding:0">
            <div class="debreifContainerouter margintop30">
                <md-card style="border-radius:10px 10px 10px 10px">
                    <div class="debreifContainerinner">
                        <md-table-container>
                            <table md-table>
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column><span translate="Charge Type"></span></th>
                                        <th md-column><span translate="Quantity"></span></th>
                                        <th md-column><span translate="Serial"> #</span></th>
                                        <th md-column><span translate="Serial In"></span></th>
                                        <th md-column><span translate="Serial Out"></span></th>
                                        <th md-column><span translate="item name"></span></th>
                                        <th md-column><span translate="Item Description"></span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="material in summary.materialArray">
                                        <td md-cell>{{material.Charge_Type}}</td>
                                        <td md-cell>{{material.Product_Quantity}}</td>
                                        <td md-cell ><span ng-repeat="serailno in material.serialNumber">{{serailno}}<br/>
                                        </span></td>
                                        <td md-cell ><span ng-repeat="serailin in material.serialIn">{{serailin}}<br/></span></td>
                                        <td md-cell ><span ng-repeat="serailout in material.serialOut">{{serailout}}<br/></span></td>
                                        <td md-cell>{{material.ItemName}}</td>
                                        <td md-cell>{{material.Description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </div>
                </md-card>
            </div>
        </div>

             <label class="header-labeles" translate="Signature"></label>
             <div class="card-childContainer marginbottom30" >
                            
                <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div><label><span translate="Engineer Name"></span> : {{engineerName}}</label></div>
                                <!--  <span></span> -->
                                <!-- <div class="result" ng-show="$rootScope.signature"> -->
                                    <img ng-src="{{summary.engineer.signature}}" style="width:50%">
                                    
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div><label><span translate="Customer Name"></span> :{{summary.taskObject.Customer_Name}}</label></div>
                                    <span></span>
                                </div>
                </div>
                
                       
            </div>

            <div class="row text-center">
                    <button class="summary-reviewBtn" ng-click="reviewSummary()" translate="Reviewed"></button>
                </div>
</div>