
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face {
    font-family: OpenSans-Bold;
    src: url(../lib/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../lib/fonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: OpenSans-SemiBoldItalic;
    src: url(../lib/fonts/OpenSans-SemiboldItalic.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(../lib/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../lib/fonts/OpenSans-Regular.ttf);
}

body {
   /* font-family: 'Poppins', sans-serif;*/
    background: #fafafa;
    height: 100%;
    overflow: hidden;
   /* overflow: hidden;*/
}

p {
    /*font-family: 'Poppins', sans-serif;*/
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
   height: 66px;
    /*height: 8%;*/
    padding: 15px 50px;
    background-color: #004b8d !important;
    border: none !important;
    border-radius: 0 !important;
    margin-bottom: 0px !important;
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.sidenav-text{
    font-family: OpenSans-Bold;
    font-size: 12px;
    color: #2d383f;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
}

#sidebar {
    height: 100%;
    min-width: 130px;
    max-width: 130px;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 0 10px #000;
     z-index:9999;
     text-transform: uppercase;
}

#sidebar.active {
    margin-left: -130px;
}

#sidebar .sidebar-header {
    padding: 13px;
    height: 65px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.20);
}

#sidebar ul.components {
   /* padding: 20px 0;
    border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.logoIcon{
    background: white;
    height: 100%;
    background-position: center !important;
    background-image: url(../images/emerson1x.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hamburger{
    height: 28px;
    width: 44px;
    background-position: center !important;
    background-image: url(../hamburgermenu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
        outline: none;
}
.categryAicon {
    text-align: center;
    color: #000000;
    /* height: 66px; */
    padding-bottom: 18px;
    padding-top: 18px;
    border-bottom: solid 1px #f3f3f3;

}
.categryAicon img{
    margin-bottom: 8px;

}
.user-avatar{
    height: 43px;
    width: 46px;
    background-position: center !important;
    background-image: url('../images/user_avator/username_green.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-color: #ffffff;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*left: 25%;*/

}
.save{
    height: 38px;
    width: 34px;
    background-position: center !important;
    background-image: url('../images/save/save.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*left: 30px;*/
}
.sync{
    height: 38px;
    width: 33px;
    background-position: center !important;
    background-image: url('../images/syncup/syncup.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 30px;
}
.title{
  font-family: OpenSans-Light;
  font-size: 24px;
  color: #fff;
 /* width: 75%;*/
  text-align: center;
      letter-spacing: 1px;
}
.mainContainer{
  padding: 50px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    height: 100%; 
    transition: all 0.3s;
     width: 100%;
    overflow: hidden;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -130px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    
}
@media screen and (max-width: 1024px) and (min-width: 700px) {
    
    .fieldjob-scroll{
      height: 500px !important;
      overflow-y: scroll !important;
    }
}
/*End of Index Page Styles*/
#JourneyBtn {
    border-radius : 0px !important;

}



.appHeader {
    height: 10% !important;
    /*background-color: #000000 !important;*/
    background-image: url("../images/bg_gradient.png");
    padding: 10px !important;
    background-size: 100%;
}
.appMainDiv{
    height: 90% !important;
}

.column10{
    /*width: 190px;*/
    width: 8%;
    margin: 0px;
    padding : 0px;
    /*height: 100vh;*/
    background-color: #000000 !important;
}
/*.sideNav{

    width: 100%;
    margin: 0px;
    padding : 0px;
    height: 100vh;
    background-color: #ffffff !important;
}
.sideNavWidth{
        width: 12.33% !important;
}*/

.column90{
    /*width: 1730px;*/
    /*width: 92%;*/
    width: 100%;
    margin: 0px;
    padding : 0px;
    height: 100vh;
    /*background : red !important;*/
}

/*.row, .col {
    margin: 0px !important;
    padding: 0px ;
}*/



/* Side Nav Bar styles*/

/*.sideNavBar li {
    float: none;
    margin: 0;
    cursor: pointer;
    padding: 10px;
   border-bottom: solid 1px #e6e6e6;
}


#sideNavBar > li:not(:last-child):not(:nth-child(1)) {
    padding: 10px;
}
.categryAicon {

      font-family: MyriadPro;
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.2px;
      text-align: center;
      color: #000000;
      text-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.35);
      height: 9%;
}
.categryAicon img{
    margin-bottom: 10px;
    height: 50%;
}

.sideNavBar {
    border-bottom: none;
}
*/

/*.fc-myCalendar-button:active {
  color : #19a97f !important;
}*/

.fc-myTask-button:active {
  color : #19a97f !important;
}

/*.fc-myCalendar-button:focused {
  color : #19a97f !important;
}*/

.fc-left{
  width: 55%;
}

.fc-center {
  width: 36%;
}

.fc-right{
  width: 60%;
}

.fc-center>fc-button-group {
  float:right;
}


.noMargin {
    margin : 0px;
    margin-left: 30px;
}

.field-service{
    text-align: center;
}
.category-title{
    background-color: #2d383f !important;
}
.subheader-btns{
    background-color: transparent !important;
    margin: 0 !important;
    font-family: OpenSans-Bold !important;
    font-size: 14px !important;
    color: #888888 !important;
}
.my-calendar{
        text-align: left;
    background-color: transparent;
}
.month-name{
        text-align: center;
}
.start-journey{
    float: right;
    background-color: #00aa7e !important;
    border-radius : 0px !important;
    font-size : 12px;
    width : 150px;
    font-weight:700;
}
.selectedCategory{
        font-family: MyriadPro;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.2px;
      text-align: center;
      color: #ffffff;
      text-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.35);
      height: 9%;
      background-color: #00aa7e;
      outline: none;
}
/*Calendar Styles*/
.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
    background-color: #2d383f;
}


/* Todo.html */

#addBtn {
  background-color :#00AA7E ;
  color : #ffffff;
  height : 35px;
  border : none !important;
  text-align: center;
  margin-right:3px;
  position : relative;
  left : -4px;
  width : 110px;
  outline:none;
  bottom :0px;
  font-family: OpenSans-Bold;
  font-size: 15px;
  text-transform: uppercase;
}

.inner-content {
  width : 45%;
  margin : 0 auto;
  padding-top : 20px;
}

#fieldTool {
    background-color: #dee6ea;
    height: 40px;
    outline: none;
    /* padding-left: 10px; */
    display: inline-block;
    padding: 0px 22px 0px 22px;
    width: 450px;
}

#fieldTool:focus {
    border: 1px solid #00AA7E !important;
    padding: 0px 22px 0px 22px;
    font-size: 12px;
    font-family: Arial;
    color: #2d383f;
}

.search-box {
  margin : 0 auto;
}

.search-row{
    margin-top:25px;
    clear: both;
}
.search-row span{
  float: right;
}
.box-add {
  background: none !important;
  height : 100px;

}

#equip-header {
  font-size : 16px;
  color : #333;
  font-family: Helvetica;
  padding-left:2px;
}

.list-item {
background: #f9f9f9;
min-height : 40px;
margin-top:8px;
padding : 10px;
width:60%;
border : 1px solid #ededed;
}

.thisPage {
  overflow: hidden;
}

/* header buttons */

.navBtn {
font-size: 12px !important;
color : #666 ;
}

.subheader-btns:focus {
    color : #00AA7E !important;
    background-image: url("active.png");
    background-repeat: no-repeat;
    background-position: cover;
}

/* //TaskOvrflow */

.layout-row .flex-33 {
  -webkit-flex: 1 1 33%;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  box-sizing: border-box;
}
.layout-row .flex-33 {
  max-width: calc(100% / 3);
  max-height: 100%;
}

/**[ui-view]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}*/

.custumContainer {
  margin-top : 20px !important;
  margin-left:50px;
  margin-right: 50px;
    background: #fff;
    box-shadow: 0px 0px 3px #ccc;
    padding-top:40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}


.mylabel {
font-size: 12px;
color :#2d383f !important;
font-family : Arial;
font-weight:bold;
text-transform: uppercase;

}

.myvalue {
    font-size : 14px;
    color :#2d383f !important;
    font-family : Arial;
    /*font-weight : 500;*/
    margin-top: 10px;


}

.mysmallValue{
    font-size : 12px;
    font-weight : 500;

}

.paddingleft40{
    padding-left :10px;
    padding-right: 10px;
}

.margintop10 {
    margin-top : 10px;
}

.headerLabel {
color : #2d383f;
font-size : 21px !important;
font-family:Arial;
font-weight:bold;
}

tr th{
    height : 28px;
    /*width : 500px;*/
    border : 1px solid #ebebeb;
    border-left : none ;
    border-right : none;
    text-align: center;
    font-size  :12px;
}


.md-padding {
  padding : 0px !important;
}

tr td{
    height : 30px;
  /*  width : 500px;*/
    text-align: center;
    /*background-color: #f9f9f9;*/
    font-size  :14px;
    color : #666 !important;
}

.position {
    margin-top: 30px;
}
#tabledata td {
  width: 500px;
}
#tableheader td {
  width: 500px;
}

.red{
 /* background-color: #d31245 !important;*/
  color:#d31245 !important;
  text-transform: uppercase;

}
.green{
  /*background-color: #5cb85c !important;*/
  color:#00aa7e !important;
  text-transform: uppercase;
}
.blue{
  /*background-color: #004b8d !important;*/
  color:#004b8d !important;
  text-transform: uppercase;
}
.orange{
  background-color: #d31245 !important;
  color:#fff !important;
}
.search-row{
  width: 90%;
  outline: none;
  margin-top:25px !important;
}
.search-row span {
  float: right;
  padding: 5px 0px 0px 5px;
  font-size: 15px;
}
md-tab-data{
      opacity: 1;
    display: table;
    right: 0;
    left: initial;
    z-index: 20;
}
.debrief-btn , .startwork-btn{
  background-color: #00aa7e !important;
  color: #fff !important;
  font-family: OpenSans-Bold !important;
  font-size: 14px !important;
  height: 40px;
}

table {
    width :100% !important;
}

.fc-center h2{
    padding-top:3px !important;
    font-size:20px !important;
}

.fc-center p {
    display : none !important;
}

/*fc-center {
    position : relative;
    left:40px;
}

.fc-prev-button {
position: relative;
left: 300px;
}

.fc-next-button{
    position: relative;
left: 450px;
}

.fc-right {
    position: relative;
left: 650px;
font-size:16px !important;
}*/

.fc-title {
    color : #333 !important;
}

.fc-event, .fc-event:hover {
    color : #333 !important;
    background-color : #dee6ea !important;
}

.fc-event {
    font-size : 13px !important;
    border : 0 !important;
}

.fc-event, .fc-event-dot {
    background-color : #dee6ea !important;
}

.modal-content {
    width : 50% !important;
    top:50% !important;
    left:20% !important;
}



.no-outline{
      outline: none;

         }


.showMonth {
  float:left;
}



.fc-toolbar.fc-header-toolbar{
     clear: both;
    padding: 15px 50px;
    position: fixed;
    z-index: 1029;
}



.fc-view-container{
  float:left;

}


.well {
    background: none !important;
    border : none !important;
    outline : none !important;
    box-shadow : none !important;
}

.well-sm {
    padding : 0px 70px 70px 70px !important;
}

td em{
    display : none !important;
}

.btn{
    border-radius : 0px !important;
}

.btn-default {
    border-color : rgb(250,250,250) ;
    background-color: rgb(250,250,250) ;
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    color : #333;
}

.btn-info.active {

}

.btn-info {
    color : #333;
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    background-color: #19a97f;
    border : none !important;
    outline : none !important;
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
        background-color: #19a97f !important;
    border-color:  #19a97f !important;
    color : #fff !important;
}
.text-info {
    color: #ffffff !important;
}

.showTaskList md-toolbar{
  background-color: #2d383f;
}


.modal-my {
  height : 70px;
  width  : 100px;
  padding: 5px 10px 10px 10px;
  background: #fff;
  border :1px solid #ccc;
  position: absolute;
  right: 75px;
  border-top-right-radius: 6px !important;
  border-radius : 3px;
  left: auto;
  z-index: 99999999;
  background-color: #f9f9fb;
  margin-top: -8px;
}

.modal-my span {
  display: block;
}

#signout {
  padding-top: 12px;
  padding-left: 2px;
  background: none ;
  color : red;
  font-weight: bolder;
  font-size :12px;
  border : none;
}

#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-center > div {
  left : 0px !important;
}



.kotni-image {
background: url("../images/alex.png");
height : 42px;
width  : 42px;
}

md-tabs-wrapper{
  background-color: #2d383f !important;
       padding: 15px 50px;
    height: 66px;
    z-index: 1030;
}
.md-tab{
  color: #5f6467 !important;
}
.col-sm-20{
     width: 22%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.col-sm-25{
     width: 25%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.col-sm-25,.col-sm-12 label{
  text-align: left !important;
}
.tab-height{
  min-height: 100% !important;
      width: 100%;

}
.col-sm-20,.col-sm-12 label{
  text-align: left !important;
}
.time-btns{
      padding: 10px;
    background-color: #c0c0c0;
}

.time-font {
  font-family: Open Sans;
  font-weight:bold;
  font-size:12px;

}

.time-add{
  background-color: #00aa7e !important;
  color: #ffffff !important;

}
.time-delete{
  background-color:#d31245 !important;
   color: #ffffff !important;

}
.time-copy{
  background-color: #2d383f !important;
   color: #ffffff !important;
}
.md-button.md-icon-button{
  margin: -3px 0px 0px -15px !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
      float: left;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00aa7e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*.popover-custom-title{
  width: 100%;
  margin: 0 auto;
}
.popover-custom-title label{
  display: block;
}*/
a {
  text-decoration: none;
}

.popover__title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.popover__wrapper {
    position: relative;
    margin-top: 0px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 30px;
    /*background-color: #ffffff;
    border-radius: 40px;*/
}
.popover__content {
    opacity: 0;
    visibility: hidden;
    position: relative;
    right: 10px;
    transform: translate(0,10px);
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 #c0c0c0;
    width: 350px;
    height: 244px;
    border-radius: 10px;
   top: 30px;
    right:153px;
     color: #000000;
     transition-delay: 0.1s;
}
.popover__content:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    transition-duration: 1s;
    transition-property: transform;
}
.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0,-30px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
  margin-bottom: 2px;

}
.uname{
  font-size: 16px;
  font-weight: bold;
}
.designation{
  font-size: 12px;
  font-weight: normal;
}
.sign-out{
  font-weight: bold;
  font-size: 15px;
  color: #00aa7e;
  text-transform: uppercase;
}
.popover-hr{
      margin-top: 10px;
    margin-bottom: 15px;
}
.language-contents label{
  font-size: 15px;
  font-weight: bold;
  color: #2d383f;
  display: block;
  text-align: center;
}
.language-contents img{
 margin: 14px;
}
.uib-button-bar{
  display: none;
}


/*Nikhils Changes*/

@media (min-width: 1200px){
.container.custumContainer {
width : 992px !important;
  }
}

/*.taskTable{
height : 40px ;
font-family:Arial;
font-weight : bold;
font-size:12px;
color : #2d383f;

}*/

.margintop50{
margin-top: 50px;
}


.margintop25 {
margin-top: 25px;
}

.margintop30 {
margin-top: 30px !important;
}

.margintop40{
margin-top: 40px;
}

.margintop60{
  margin-top: 60px;
}

.taskcls tr th{
  margin-top: 2px ;
  font-family:Arial;
  font-size:12px;
  color : #2d383f !important;
}




.taskcls tr td {
  height:70px !important;
  background-color: #f0f0f0;
  margin-top: 2px !important;
  font-family:Arial;
  font-size:14px;
  color : #2d383f !important;
}
a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: #000000;
    font-family: Arial;
    font-size: 15px;

}
#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-right > div > label{
  font-family: OpenSans-Light;
  font-size: 15px;
  color: #ffffff;
}

.btn-chng {
  margin-left: 40px !important;
  font-family:Open Sans;
  font-weight:bold;
  font-size:14px;
  color: #888888;
}
.taskoverflowheaderbtns{
  font-family:Open Sans;
  font-weight:bold;
  font-size:14px;
  color: #888888;
}

/*time changes*/

.mytaskContainerouter{
  margin-left: 50px;
  margin-right: 50px;
}

.debreifContainerouter{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.debreifContainerinner {
  padding : 30px 22px;
  border-radius:10px 10px 0px 0px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3) !important;
  text-transform: uppercase;
}


.control-label {
  text-align: left !important;
}

.patternImg{
  background-image: url("../patterns.png");
  background-repeat: repeat;
  padding:15px 40px 15px 40px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3) !important;
 /* height: 147px;*/
  border-radius: 0px !important;
}


.label-my {
  font-size: 12px;
  font-family: Arial;
  font-weight: 600;
  color :#2d383f;
  margin-bottom: 12px !important;
  text-transform: uppercase;
}

a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: #000000;
    font-family: Arial;
    font-size: 15px;

}
#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-right > div > label{
  font-family: OpenSans-Light;
  font-size: 15px;
  color: #ffffff;
}
.sidenav-text-Sel{
   font-family: OpenSans-Bold;
    font-size: 12px;
    color: #ffffff;
}
.back-btn{
  background-color: #ffffff !important;
  color: #000000 !important;
  height: 40px;
}
.accept-btn{
   background-color: #00aa7e !important;
  color: #ffffff !important;
  font-family: OpenSans-Bold !important;
    font-size: 14px !important;
    height: 40px;
}
.toolbar{
      /*padding: 0 40px !important;*/
      padding: 15px 50px !important;
}
.toolbar button{
  font-size: 14px !important;

}
/*.md-button{
  font-size: 12px !important;
}*/

tr {
  outline:none !important;
}

tr:active{
  background-color: #f0f0f0 !important;
  outline:none !important;
}

.TodoContainer {
  margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  padding :30px 22px;
  border-radius:10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
/*
todo html changes*/

.header-labeles {
 margin-left: 30px;
    margin-bottom: 20px;
    font-family: Arial;
    font-weight: normal;
    font-size: 24px;
    color: #283d3f;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.labels {
font-family : Arial;
font-weight:bold;
font-size:12px;
color:#004b8d;
}

.small-labels{
  font-family : Arial;
  font-weight:500;
  font-size:12px;
  color:#2d383f;
}

.select-debrief {
  background-color: #f0f0f0 !important;
  border:none !important;
  border-radius:0 !important;
}

.select-debrief-time-first-select {
  width : 33.9% !important;
}


.input-debrief{
  background-color: #f0f0f0;
  border:none;
  border-radius:0;
}

.time-font{
  font-size: 12px !important;
/*   font-weight:bold !important;
  font-family:Open Sans !important; */

}

.text-area {
    background-color: #f0f0f0 !important;
    border: none !important;
    height: 70px !important;
}

.marginbottom5{
  margin-bottom: 5px !important;
}

.selectedTab{
  color: #00aa7e !important;
}
.categryAicon div{
    margin: 0 auto;
    margin-bottom: 8px;
}
.MyCalendarselected{
  background-image: url(../images/calendar/Rectangle8copy.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 32px;
  height: 28px;
}
.MyCalendar{
  background-image: url(../images/calendar/Rectangle8.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 32px;
  height: 28px;
}
.MyTaskselected{
  background-image: url(../images/mytask/myTaskSel.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 26px;
  height: 36px;
}
.MyTask{
  background-image: url(../images/mytask/Shape36.png);
   background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 26px;
  height: 36px;
}
.TaskOverviewselected{
  background-image: url(../images/taskoverview/taskOverflowSel.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 40px;
}
.TaskOverview{
  background-image: url(../images/taskoverview/taskoverview.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 30px;
  height: 38px;
}
.Debriefselected{
  background-image: url(../images/debrief/brief.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 36px;
  height: 27px;
}
.Debrief{
  background-image: url(../images/debrief/briefcopy.png);
   background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 38px;
  height: 27px;
}

.md-tab.md-active {
  color : #00aa7e !important;
  font-family: OpenSans-Bold;

}

.md-tabs.md-default-theme .md-tab .md-ripple-container, md-tabs .md-tab .md-ripple-container{
color :  #00aa7e !important;
}


md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-barr{
    color: #00aa7e !important;
    background: #00aa7e !important;
}

.md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: #00aa7e !important;
  background: #00aa7e !important;
}

.md-tab{
    font-family: OpenSans-Bold;
    color: #888888 !important;
}

.buttt {
  background: none !important;
  border:none !important;
  text-align: center;

}

.buttt:active{
  color : #00aa7e ;
}
.popbtn {
outline:none;
height:30px;
width:120px;
background: none;
border:none;
color : #2d383f;
font-size: 80%;
}

.popbtn:hover {
  outline:none;
  color : #00aa7e;
}

.bckcolor {
  background-color: #083574 !important;
  border:none !important;
  border-radius: 0px !important;
}
.loginTitle{
  font-size:12px;
  font-family:OpenSans-Regular;
  font-weight:500;
  color:#2d383f;
  
  text-align:center;
}
.fc-myCalendar-button{
    color: #00aa7e !important;
    font-family: OpenSans-Bold !important;
    font-size: 14px !important;
}
.selectedTabColor{
  font-weight: bold !important;
  color: #00aa7e !important;
}

md-checkbox.md-default-theme.md-checked ._md-icon, md-checkbox.md-checked ._md-icon {
  background-color: #00aa7e !important;
}


.serviceLabel{
  font-family: Arial;
  color :#000;
  font-weight: bold;
  font-size: 12px;
}

.debLabelHeader{
  font-family: Arial;
  color :#000;
  font-weight: 500;
  font-size: 24px;
}


.serbtn {
  width : 110px;
  height : 40px;
  background-color: #f0f0f0;
  color :#000000;
  border: none;
  font-family: OpenSans-Bold;
  font-size: 15px;
  outline: none;
  text-transform: uppercase;
}

.expensePaddi {
  padding-left: 15px;
  padding-right: 15px;
}

.calculateBut {
  padding:  10px;
  font-size: 30px;
}

.calculateInput {
  padding:  10px;
  background-color: #F0F0F0;
}


/*Engineer Signature*/

.md-input-style {
  background-color: #fff;
box-shadow: 0 0 20px rgba(0,0,0,0.3);
padding: 30px 22px;
border-radius: 10px;
margin:0;
}


.inputFieldsES {
    border: none;
    width: 100%;
    height: 30px;
    margin-top: 7px;
    background-color: #f5f5f5 !important;
    outline: none;
    padding-left: 5px;
}
.material-dialog{
  border: solid 1px #c0c0c0;

  background-color: #ffffff;
  padding: 24px 24px 0px 24px;
}
/*.material-dialog >div{
  margin-right: 20px;
}*/
.material-dialog >div > label{
  font-family: Arial;
  font-size: 14px;
  color: #2d383f;
  text-align: center;
      padding-bottom: 10px;

}
.dialog-border{
  border-radius: 0px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.dialog-ok{
  background-color: #00aa7e;
}


.dialog-ok label{

  width: 100%;
  text-align: center;
  color: #ffffff;
}
.tickImage{
   background-image: url(../images/tick@1x.png);
   background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 18px;
  height: 13px;
  display: inline-block;
}
.tickImageLabel{
  color: #00aa7e !important;
}
.spinner{
  display: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #f0f0f0;
}

td, th {
padding : 1px !important;
}

.btn-default {
  border-color : transparent !important;
}
.map-image{
    width: 64px;
    height: 55px;
    background-image: url(../images/Map_greenbutton.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: none;
}
.mapBgImage{
    width: 64px;
    height: 55px;
    background-image: url(../images/Map_greybutton.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: none;
}
a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: #283d3b !important
}
.fieldJob-label{
      font-size: 12px;
    font-family: Arial;
    color: #2d383f;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.search-icon{
    width: 31px;
    height: 31px;
    background-image: url(../images/search_1x.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: none;
    display: inline-block;
    /*float: right;*/
}
.search-text{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    color: #283d3f;
    margin-right: 2px;
    text-transform: uppercase;
}
.search-div{
      height: 40px !important;
}
.search-div:hover{
  background-color: #ffffff !important;
  outline: none !important;
}
.rowSelected{
  background-color: #f0f0f0;
}

.badgee {
  position: absolute;
  left: auto;
  right: 162px;
  top: 45px;
  height : 10px;
  width : 10px;
  border-radius: 15px;
  background-color: #00aa7e;
  border : 2px solid #083574;
}
.fieldjob-scroll{
  height: 420px;
  overflow-y: scroll;
}
.errorDiv{
    margin-bottom: 10px;
    border-style: solid;
    border-color: #e46c6b;
    background-color: #ffebe8;
    border-width: 1px;
    color: #2d383f;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
   font-size:12px;
  font-family: OpenSans-Bold;
    /* font-weight: 500; */
    text-align: center;
}
.errorDiv img{
  height: 19px;
  width: 19px;
}
.errorDiv span{
  padding-left: 5px;
}
input[type="checkbox"] {
     height: 20px !important;
    width: 20px !important;
    outline: none !important;
}
.checkbox-inline span{
  margin-left: 10px;
  position: relative;
  top: 5px;
}
.debrief-btn:disabled{
  background-color: #f0f0f0 !important;
  color: #283d3b !important;
  height: 40px;
}
.accept-btn:disabled{
  background-color: #f0f0f0 !important;
  color: #283d3b !important;
  height: 40px;
}
.startwork-btn:disabled{
  background-color: #f0f0f0 !important;
  color: #283d3b !important;
   height: 40px;
}
.nav-noLeft{
  left: 130px !important;
}
.viewDiv{
     /* margin-top: 66px;*/
    padding-top: 66px;
    height: 100%;
   /* overflow-y: scroll;*/
    overflow-x: hidden;
    background-color: #f0f0f0;
}
.nav-left{
  left: 0px !important;
}
.uiViewContent{
  margin-top: 106px;
}
.sub-navbar{
        margin-top: 66px;
        background-color: #2d383f !important;
        color: #ffffff;
        z-index: 100 !important;
}
md-tab-content{
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.btn-default{
  text-transform: uppercase;
}

.search-div{
  display: inline-block;
  outline: none !important;
}
.fieldjob-headRow{
  text-transform: uppercase;
}
.fieldjob-headRow th{
  border-bottom: none !important;
    display: table-cell;
    vertical-align: middle !important;
}
.fieldjob-headRow span{
  color: #283d3f !important;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}
.fieldjob-body{
  border-bottom: solid 1px #f0f0f0;
  height: 60px;
}
.fieldjob-body td{
  display: table-cell;
  vertical-align: middle !important;
}
#select_value_label_0 > span:nth-child(1){
  color: #283d3f !important;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}
.btn-position{
  position: relative;
    bottom: 8px;
}
.task-number{
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: #00aa7e !important;
  text-decoration: underline;
  text-align: left;
}
.task-details{
  font-family: Arial;
  font-size: 14px;
  color: #283d3f !important;
  text-align: left !important;
  padding-left: 10px !important;
}
.status-options{
    font-family: OpenSans-Bold;
    color: #000000 !important;
    font-size: 14px;
}
.card-parentContainer{
  margin-left: 50px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.card-childContainer{
    padding: 30px 22px 30px 22px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #ccc;
}
.martop-106{
  margin-top: 106px;
}
.martop-40{
  margin-top: 40px;
}
.fieldjob-search{
    width: 60%;
    margin: 0 auto;
}
.taskOverFlow-div{
      padding: 0px 78px 0px 78px;
}
.taskoverflow-tableTh{
    display: table-cell;
    border: 1px solid #c0c0c0;
    vertical-align: middle !important;
    font-family: Arial !important;
    font-weight: bold !important;
    font-size: 12px;
    text-transform: uppercase;
    color: #283d3f !important;
    height: 40px;
    border-bottom: none !important;
}
.taskoverflow-tableTd{
    display: table-cell;
    border: 1px solid #c0c0c0;
    vertical-align: middle !important;
    font-family: Arial !important;
    font-size: 12px;
    text-transform: capitalize;
    color: #283d3f !important;
    height: 40px;
    background-color:#f0f0f0;
}
.no-marbottom{
  margin-bottom: 0px !important;
}
.customer-site{
   margin-bottom: 0px !important;
    font-family: Arial;
    font-weight: bold !important;
    font-size: 21px;
    color: #283d3f;
}
.customer-thead{
    height: 70px;
    border-top: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;

}
.customer-thead th{
  border: none !important;
  display: table-cell;
  vertical-align: middle !important;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
  color: #283d3f;
  text-transform: uppercase;
   border-right: solid 1px #c0c0c0;
  
}

.customer-tbody{
    height: 70px;
    background-color: #f0f0f0;
    border-bottom: solid 1px #ffffff;
    

}

.customer-tbody td{
  border: none !important;
  display: table-cell;
  vertical-align: middle !important;
  font-family: Arial;
  font-size: 14px;
  color: #283d3f !important;
}
.fieldjob-status{
  font-family: OpenSans-Bold;
  font-size: 12px;
}
.text-left{
  text-align: left;
}
md-select{
   margin: 0 !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border-top: none !important;
}
md-select.md-default-theme:not([disabled]):focus ._md-select-value, md-select:not([disabled]):focus ._md-select-value{
  border-bottom-color: #fff !important;
}
md-select.md-default-theme ._md-select-value, md-select ._md-select-value{
      border-bottom-color: #fff !important;
}
.martop-50{
  margin-top:50px;
}
.text-center{
  text-align: center;
}
.completed-msg{
  font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    color: #283d3f;
}
.summary-report-label{
  font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #c0c0c0;
}
.summary-report-btn{
  margin-top: 0px !important;
    border-radius: 0 !important;
    background-color: #fff !important;
    text-decoration: underline !important;
    border: none !important;
    color: #00aa7e !important;
    font-family: Arial !important;
    font-weight: bold !important;
}
.summary-report-donebtn{
  height: 40px;
    width: 100px;
    background-color: #00aa7e;
    font-family: OpenSans-Bold;
    font-size: 12px;
    color: #fff;
    border: none !important;
    text-transform: uppercase;
}
.paddingbot-20{
  padding-bottom: 20px;
}
.smmary-report-confirm{
  text-align: center;
  margin-top: 12px;
}
.martop-20{
  margin-top: 20px;
}
.marginbottom30{
  margin-bottom: 30px;
}
.created-by{
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #004b8d;
    margin-bottom: 5px;
}
.created-date{
  font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    color: #283d3f;
}
.note-type-label{
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #283d3f;
    text-transform: uppercase;
}
.note-type-value{
  font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    color: #283d3f;
}
.imgPad {
        border: 1px solid #c0c0c0;
        padding: 10px;
    }
.display-block{
  display: block !important;
}
.tool-items{
    display: table;
    margin-bottom: 2px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #ccc;
    width: 100%;
}
.tool-items label{
  font-family: Arial;
    font-weight: normal !important;
    font-size: 15px;
    color: #283d3f;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}
.addEquip{
  width: 50%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.addlist-btn{
      border-radius: 0px !important;
    height: 40px !important;
    /* color: black; */
    width: 100px !important;
    font-family: Arial !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #ffffff !important;
    background-color: #00aa7e !important;
    text-transform: uppercase;
}
.cancelInEquip{
  width:12px;float:right;padding-top:3px;outline:none;margin-top: 15px;margin-right: 20px;
}
.engSign-label{
      margin-bottom: 30px !important;
    font-family: Arial;
    font-weight: bold !important;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
}
.engSign-textarea{
  width: 100%;
    height: 109px;
    background-color: #f0f0f0;
    outline: none;
    border: none;
}
.engSign-Next{
  width: 110px;
    height: 40px;
    font-family: OpenSans-Bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: #00aa7e;
    float: right;
}
.marginbottom12{
  margin-bottom: 12px;
}
.stroke{
  border: solid 1px #f0f0f0;
}
.noborder{
  border: none !important;
   text-align: left !important;
}
.bg-white{
  background-color: #ffffff !important;
}
.margin20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.debrief-items{
  padding-right: 20px;
     margin-bottom: 30px;
  max-width: 16% !important;
}
.debrief-textarea{
  background-color: #f0f0f0 !important;
  border:none !important;
      height: 40px !important;
    margin-bottom: 20px;
    padding: 10px !important;
}
.noBorder-radius{
      padding-bottom: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.attachmentDiv{
      height: 110px;
    width: 110px;
    border: solid 1px #c0c0c0;
    padding: 5px;
}
.attachment-input{
  margin-top: 10px;
    width: 110px !important;
    border: solid 1px #00aa7e !important;
}
.attachment-label{
      margin-top: 10px;
    font-size: 12px;
    color: #00aa7e;
    text-transform: uppercase;
    text-align: center;
    width: 110px;
}
.attachment-spacing{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 30px;
    margin-bottom: 30px;
}
.nopadding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.attachplaceholder{
      width: 110px;
    height: 110px;
    background-color: #f0f0f0;
    text-align: center;
    /* display: table; */
    padding: 20px;
}
.max-size{
  margin-top: 10px;
  width: 110px;
  text-align: center;
  font-family: Arial;
  font-weight: normal;
  font-size: 12px;
  color: #283d3f;


}
.width110{
  width: 110px !important;
}
.summary-values{
  width: 110px;
  text-align: center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:inline-block;
  font-size: 14px !important;
  font-family: Arial;
  font-weight: normal !important;
  color: #283d3f !important;
}
.summary-tr{
  border-bottom: solid 1px #f0f0f0;
    border-top: none !important;
    border-left: none !important;
    text-align: left !important;
    border-right: none !important;
    height: 50px;
}
.padding-right{
  padding-right: 30px !important;
}
.summary-description{
  width: 110px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:inline-block;
}
.summary-tr th{
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
  color: #283d3f !important;
  display: table-cell;
  vertical-align: middle !important;
  text-transform: uppercase;
}
.summary-tr td{
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  color: #283d3f !important;
  display: table-cell;
  vertical-align: middle !important;
}
.width25{
  width: 25%;
}
.summary-reviewBtn{
      margin-top: 50px;
    width: 180px;
    height: 50px;
    background-color: #00aa7e !important;
    font-family: OpenSans-Bold;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    border: none;
    outline: none;
    text-transform: uppercase;
}
.width14{
    width:14%;
}